$icon-fontname: 'icons';

$icon-angle-down: '\a001';
$icon-angle-left: '\a002';
$icon-angle-right: '\a003';
$icon-angle-up: '\a004';
$icon-bars: '\a005';
$icon-cart: '\a006';
$icon-check: '\a007';
$icon-crown: '\a008';
$icon-discount: '\a009';
$icon-facebook: '\a010';
$icon-filter: '\a011';
$icon-instagram: '\a012';
$icon-long-arrow-down: '\a013';
$icon-long-arrow-left: '\a014';
$icon-long-arrow-right: '\a015';
$icon-long-arrow-up: '\a016';
$icon-map-marker: '\a017';
$icon-minus: '\a018';
$icon-pinterest: '\a019';
$icon-plus: '\a020';
$icon-search: '\a021';
$icon-times: '\a022';
$icon-truck: '\a023';
$icon-twitter: '\a024';
$icon-user: '\a025';
$icon-youtube-play: '\a026';
