<header>
	<div class="header-wrapper container">
		<div class="header-column">
			<a href="index.html" title="OnlineSop">
				<picture class="logo">
					<source srcset="img/logo.webp" type="image/webp" width="44" height="38">
					<img src="img/logo.png" alt="OnlineSop" width="44" height="38">
				</picture>
			</a>
			<div class="search">
				<a href="search.html" title="Search">
					<i class="icon__search"></i>
				</a>
			</div>
		</div>
		<div class="header-column">
			<div class="menu">
				<a href="#" title="Menu">
					<i class="icon__bars"></i>
				</a>
			</div>
			<div class="user">
				<a href="#" title="Log-In">
					<i class="icon__user"></i>
				</a>
			</div>

			<div class="basket">
				<a href="basket.html" title="Basket">
					<span class="basket__count">5</span>
					<i class="icon__cart"></i>
				</a>
			</div>
		</div>
	</div>
</header>
