<div class="teaser-item">
	<div class="teaser-item__wrapper">
		<div class="teaser-item__picture">
			<picture>
				<source srcset="@@teaserPictureUrl.webp" type="image/webp" width="@@teaserPictureWidth" height="@@teaserPictureHeight">
				<img src="@@teaserPictureUrl.jpg" alt="@@teaserTitle"  width="@@teaserPictureWidth" height="@@teaserPictureHeight">
			</picture>
		</div>
		<div class="teaser-item__body">
			<h4><a href="@@teaserLink" title="@@@@teaserTitle">@@teaserTitle</a></h4>
		</div>
	</div>
</div>


